flask==3.1.0
flask-cors==5.0.1
pydub==0.25.1
SpeechRecognition==3.14.1
flask-session==0.8.0
flask-limiter==3.12
python-dotenv==1.0.1
transformers==4.50.0
torch==2.6.0
pytube==15.0.0
google-auth-oauthlib==1.2.0
flask-login==0.6.3
flask-wtf==1.2.1
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-api-python-client==2.133.0
